<app-menu-title></app-menu-title>
<div class="container__articles">

  <div class="articles-main">
    <app-big-card
    Id="1"
    photoCover="http://www.nasa.gov/sites/default/files/thumbnails/image/sls_rocket.jpg"
    cardTitle="LANÇAMENTO DO PRIMEIRO FOGUETE ARTEMIS"
    cardDescription=" Primero lançamento é um teste de tecnologia, com futuros lançamentos tendo a intenção de colocar a primeira mulher na lua "></app-big-card>
  </div>

  <div class="articles-others">
    <app-small-card
    Id="2"
    photoCover="https://cdn.mos.cms.futurecdn.net/snbrHBRigvvzjxNGuUtcck.jpg"
    cardDescription=" Fatos interessantes sobre a Lua "></app-small-card>
    <app-small-card
    Id="3"
    photoCover="https://images.nature.com/original/magazine-assets/d41586-022-03819-w/d41586-022-03819-w_23737968.jpg"
    cardDescription=" Imagens da terra pelas lentes do satélite Orion "></app-small-card>
    <app-small-card
    Id="4"
    photoCover="https://www.nasa.gov/sites/default/files/styles/full_width/public/thumbnails/image/nhq202211170007.jpg?itok=vfv0Dzjk"
    cardDescription=" Japão contribui para extensão de base espacial "></app-small-card>
  </div>

</div>

